.formSubmitted .ng-invalid{
	border: 1px solid red;
}
.col-green{
	color: green;
}
.es_subscription_message.success{
	color: white!important;
}
.rd-input-label{
	display: none;
}
.strong-view.default.slider-container.slider-adaptive:not(.slider-mode-horizontal) .wpmslider-viewport{
	border: none !important;
}
.margin-bottom{
	margin-bottom: 10px;
}
.marquee{
    margin-bottom: -6px;
    background: #0d82fa;
    color: white;
    padding: 5px;
    margin-top: 15px;
}
.que-form{
    background: #2e69a2;
    color: white;
  
}
.que-form h5{
color: white;
}
.date-select{
    display: inline-block;
    width: 32%;
}
.que-form a{
color: white;
text-decoration: underline;
}
.sub-menu{
	position: absolute;
	width: 250px;
    background-color: #1e1e1e;
	display: none;
	z-index: 999;
	    border-radius: 0px 0 4px 4px;
    padding: 3px 12px;
}
.menu-item{
	position: relative;

}
.sub-menu .menu-item{
	display: block!important;
	margin-left: 0!important;
      margin: 5px;
}
.sub-menu .menu-item:hover{background: #5d5b5b;}
.menu-item:hover > .sub-menu{
	display: block;
}
.rd-navbar-static .rd-nav-item.active .rd-nav-link, .rd-navbar-static .menu-item.current-menu-item a{
	color: #0e86ff!important;
	text-decoration: underline;
}
.rd-navbar-static .rd-nav-link:hover, .rd-navbar-static .menu-item a:hover{
	color: #0e86ff!important;
	text-decoration: underline;
}
.modal-pop{
	    COLOR: GREEN;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 6px;
  margin: 0 auto;
  background:white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 12px 0 #aaa;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  /*background-color: #bbb;
  color: black;*/
  margin-top: 10px;
}

.flip-card-back {
  background-color: #0E86FF;
  color: white!important;
  transform: rotateY(180deg);
   border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 12px 0 #aaa;
}
.flip-card-back h3{
	color: white!important;
	text-align: center;
        margin-top: 60px;
    font-size: 18px;
    font-weight: 500;
}
.subtitle{
	margin:0!important;
	color: #044bb1;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}
.flip-card-front img{
	height: 70px!important;
	padding: 10px;
}


.rd-navbar-static .rd-nav-link, .rd-navbar-static .menu-item a{
	position: relative;
    display: inline-block;
    color: #444!important;
    font-size: 14px;
    line-height: 1.33;
    transition: .25s;
    font-weight: 500;
}
.rd-navbar-static .rd-nav-link, .rd-navbar-static .sub-menu .menu-item a{
	color: #fff!important;
	padding: 5px;
}
.sub-menu .menu-item a:hover{
	color: #fff!important;
    text-decoration: none;
}
.logo{
	float: left;
	}
.rd-navbar.navig{
    float: right;
}
.rd-navbar-classic.rd-navbar-static{
		background: white!important;
}

.wpcf7{
    width: 900px;
    margin: 0 auto!important;
}
.content-area{
	background-color: #f7f7f7;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea,
.strong-form input[type="text"], 
.strong-form input[type="email"],
.strong-form input[type="url"], 
.strong-form select, 
.strong-form textarea
{
   display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25;
    color: #495057;
    background-color: #ffffff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.wpcf7, .strong-form .form-field.wpmtst-submit input[type="submit"]{
	padding: 9px 30px!important;
    font-size: 14px!important;
    line-height: 1.5!important;
    color: #ffffff;
    background-color: #0346aa;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25;
    border: 0 solid;
    border-radius: 40px;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    box-shadow: 0 3px 21px 4px rgba(41, 41, 58, 0.2);
}
.wpcf7 .field-client_name label{
	font-weight: 600;
}
 .wpcf7 p{
   margin-bottom: 12px;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	display: none!important;
}
input.wpcf7-not-valid, textarea.wpcf7-not-valid {
	border-color: red!important;
}
.wpcf7-not-valid-tip{
	display: none!important	;
}

#ecww-formwrapper, #ecww-summary, #ecww-piechart{
	height: 340px!important;
}
#ecww-monthlypayment, #ecww-totalinterest, #ecww-totalamount {
    padding: 28px 0;
}
.close{
    color: white;
    padding:10px 20px!important;
    opacity: 1;
}

    @media (min-width: 768px){
#ecww-summary, #ecww-piechart {
   
    border: 1px solid #EEE!important;
}
}

@media only screen and (max-width: 600px) {
  body{
    margin-top: 70px;
  }
  .logo{
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 0px 5px!important;
    margin-left: 0;
    padding: 11px;
  }
body .logo img{
  width: 200px!important;
}

.customer-logos .slide{
  height: 55px!important;
}
.strong-view.default .testimonial-image{
  width: 100%;
  text-align: center;
}
  .col-md-3 .col-sm-6 .col-xs-6{
		width: 50%;
	}
  .modal{
    z-index: 9999;
  }
  .modal .modal-dialog{
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
  }
  div#wpcs_tab_12940{
    display: none!important;
  }

}
.citylist{
    position: absolute;
    top: 100%;
    max-height: 200px;
    background: #fff;
    color: #000;
    width: 100%;
    overflow: auto;
    z-index: 999;
}
.citylist span{
  display: block;
  padding: 5px;
  border:1px solid #ccc;
}
.partner{
  padding: 30px 0;
  }
.partner h2{
    color: white;
    margin-bottom: 30px;
    text-align: center;
  }
.bg-gray-100{
    background-size: cover;
    background-position: center;
  }
  .rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-static.rd-navbar--is-clone{
        box-shadow: 0px 0px 5px!important;
  }
  .rd-navbar-wrap, .rd-navbar, .rd-menu, .rd-navbar-nav, .rd-navbar-panel, .rd-navbar-static .rd-menu, .rd-navbar-fixed .rd-navbar-nav-wrap, .rd-navbar-fixed .rd-navbar-submenu{
    transition: none!important;
  }
  .strong-form .after{
    display: none!important;
  }
.context-dark h1, .context-dark h2, .context-dark h3, .context-dark h4, .context-dark h5, .context-dark h6, .context-dark [class^='heading-']{
    padding: 0 15px;
}
.modal-open .modal{
  z-index: 9999;
}
.logo img{
    height: auto;
    width: 230px!important;
    padding: 5px;
}
.ecww-tenure-choice{
  display: none;
}
.form-wrap p{
  margin-top: 0!important;
}
.customer-logos .slide {
  background: #fff;
  widows: 150px;
  height: 100px;
  position: relative;
}
.customer-logos .slide img{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  padding: 10px
}
.vericaltext{
    width:40px;
    word-wrap: break-word;
    margin: -152px -53px;
    position: fixed;
    right: 53px;
    top: calc(100% / 2);
    z-index: 999;
    background: #0e86ff;
    padding: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 1;   
}
.strong-view.default .testimonial-heading{
  background: none;
}
.blink_me {
  animation: blinker 2s linear infinite;
  color: #697718;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.refer-text{
margin-top: 20px;
}
.refer-text p{
padding: 0px 15px;
}
.chgmbl{
  margin-top: 0!important;
  float: right;
}
div#wpcs_tab_12940 {
    width: 170px;
    height: 34px;
    overflow: hidden;
    background: #0E86FF;
    color: #ffffff;
    padding: 2px 0px 2px 0px;
    position: fixed;
    top: 200px;
    right: -68px;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 9999999;
    font-size: 18px;
}
.wpcs_tab {
    top: 220px !important;
    padding: 6px 0px 2px 0px !important;
    height: 45px !important;
    font-weight: 600;
}